<header>
    <article>
        <div class="logo">
            <h1>{{#link-to 'customers'}}eCRM{{/link-to}}</h1>
        </div>
    </article>
</header>

<section id="main">
    {{outlet}}
</section>

<footer></footer>