<!DOCTYPE html>
<html>
  <head>
    <title>eCRM</title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="/xdomain.min.js" slave="http://localhost:5002/xdomain/proxy.html"></script>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
  <div id="ember-app"></div>
    <%= yield %>
  </body>
</html>